<div class="btn btn-primary mx-2">
  <i class="fas fa-invite"></i>
  <%= link_to 'Invite Users', invite_users_room_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'invite_user_btn'}  %>
</div>
<%= render partial: 'shared/modals/modal'%>
